body {
  /*background-color: #d3cfc6;*/
  background-color: #fff;
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

section > p, section > ul {
  width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", Trebuchet, Verdana, Lucida Grande, sans-serif;
  color: #444;
  margin-bottom: 20px;
  width: 100%;
}

h1 {
  color: #d81e36;
  font-size: 36px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #d81e36;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

em {
  font-style: italic;
}

.card {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

/**************************************

          Header

**************************************/

body > header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  position: fixed;
  width: 100%;
}

.header-inner {
  margin: 0 auto;
  padding: 13px 0;
  width: 1024px;
}

.header-inner h1 {
  margin-bottom: 0;
}

/**************************************

          Main

**************************************/

#main {
  margin: 0 auto;
  padding-top: 90px;
  width: 1024px;
}

#main p {
  text-align: left;
}


/**************************************

          Color swatch craziness

**************************************/

.color-swatches {
  background: #fff;
  font-size: 14px;
  margin: 40px 0;
  width: 730px;
}

.color-swatches > div {
  margin-bottom: 20px;
}

.color-swatches > div h3 {
  border-bottom: 1px solid #ddd;
  font-family: Oxygen, Trebuchet, Verdana, Lucida Grande, sans-serif;
  padding-bottom: 10px;
}

.color-swatch {
  height: 130px;
  margin-bottom: 10px;
  width: 130px;
}

.color-container {
  display: inline-block;
  width: 130px;
  margin-right: 16px;
}

.color-container:last-child {
  margin-right: 0;
}

.color-swatches li {
  margin-bottom: 10px;
}

.color-swatches li span {
  color: #444;
  font-weight: bold;
}

.color-codes {
  text-transform: uppercase;
}

.core-colors {
  margin-bottom: 20px;
}

.color-darkest-gray {
  color: #444;
}

.color-darkest-gray .color-swatch,
.color-swatch-mini.color-darkest-gray {
  background-color: #444;
}

.color-middle-gray {
  color: #777;
}

.color-middle-gray .color-swatch,
.color-swatch-mini.color-middle-gray {
  background-color: #777;
}

.color-light-gray {
  color: #777;
}

.color-light-gray .color-swatch,
.color-swatch-mini.color-light-gray {
  background-color: #eee;
  border: 1px solid #ccc;
  height: 128px;
  width: 128px;
}

.color-red {
  color: #d81e36;
}

.color-red .color-swatch,
.color-swatch-mini.color-red {
  background-color: #d81e36;
}

#color-gradient .color-red-light .color-swatch {
  border: 1px solid #ddd;
}

.color-red-dark {
  color: #AB172B;
}

.color-red-dark .color-swatch,
.color-swatch-mini.color-red-dark {
  background-color: #AB172B;
}

.color-blue {
  color: #00b0d7;
}

.color-blue .color-swatch,
.color-swatch-mini.color-blue {
  background-color: #00b0d7;
}

.color-blue-light {
  color: #75D1F0;
}

.color-blue-light .color-swatch,
.color-swatch-mini.color-blue-light {
  background-color: #75D1F0;
}

.color-blue-dark {
  color: #0089A8;
}

.color-blue-dark .color-swatch,
.color-swatch-mini.color-blue-dark {
  background-color: #0089A8;
}

.color-green {
  color: #AAE854;
}

.color-green .color-swatch,
.color-swatch-mini.color-green {
  background-color: #AAE854;
}

.color-green-light {
  color: #C2EC89;
}

.color-green-light .color-swatch,
.color-swatch-mini.color-green-light {
  background-color: #C2EC89;
}

.color-green-dark {
  color: #83CA21;
}

.color-green-dark .color-swatch,
.color-swatch-mini.color-green-dark {
  background-color: #83CA21;
}

.color-pink {
  color: #ff3a5b;
}

.color-pink .color-swatch,
.color-swatch-mini.color-pink {
  background-color: #ff3a5b;
}

.color-pink-light {
  color: #FF7088;
}

.color-pink-light .color-swatch,
.color-swatch-mini.color-pink-light {
  background-color: #FF7088;
}

.color-pink-dark {
  color: #CC1E3E;
}

.color-pink-dark .color-swatch,
.color-swatch-mini.color-pink-dark {
  background-color: #CC1E3E;
}

.color-yellow {
  color: #ffcb4c;
}

.color-yellow .color-swatch,
.color-swatch-mini.color-yellow {
  background-color: #ffcb4c;
}

.color-yellow-light {
  color: #FFDC85;
}

.color-yellow-light .color-swatch,
.color-swatch-mini.color-yellow-light {
  background-color: #FFDC85;
}

.color-yellow-dark {
  color: #F6B309;
}

.color-yellow-dark .color-swatch,
.color-swatch-mini.color-yellow-dark {
  background-color: #F6B309;
}

.color-background .color-swatch {
  background-color: #d3cfc6;
}

.color-combinations > div {
  background: #fff;
  margin-bottom: 40px;
}

.color-combinations .red-blue {
  width: 340px;
}

.color-combinations .blue-red-green-pink {
  width: 510px;
}

.color-combinations .green-blue-red,
.color-combinations .blue-red-pink,
.color-combinations .green-yellow-red,
.color-combinations .yellow-red-pink {
  width: 425px;
}

.color-swatch-mini {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-right: 6px;
}

.color-swatch-mini:last-child {
  margin-right: 0;
}

.color-swatch-mini.color-light-gray {
  height: 73px;
  width: 73px;
}


/**************************************

          Color exceptions

**************************************/

#color-notes li {
  list-style: disc;
  margin: 0 0 10px 20px;
}

/**************************************

          Color gradients

**************************************/

#color-gradient {
  background: #fff;
  width: 730px;
}

#color-gradient .row {
  margin-bottom: 20px;
}

#color-gradient .color-codes {
  text-align: center;
}


/**************************************

          Subsections

**************************************/

.cards-with-subsections > div {
  float: left;
  margin-right: 60px;
  width: 330px;
}

.cards-with-subsections > div h1 {
  margin-bottom: 10px;
}

.cards-with-subsections section {
  margin-bottom: 0;
}

.cards-with-subsections > div p:last-child {
  margin-bottom: 0;
}

.subsection {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 10px;
}

.subsection h2 {
  font: 18px Oxygen, Trebuchet, Verdana, Lucida Grande, sans-serif;
  margin-bottom: 0;
  text-transform: none;
}

.subsection p:last-child {
  margin-bottom: 0;
}

.gray-subsection-middle .subsection {
  background: #f6f6f6;
  border-color: #dbdbdb;
}

.gray-subsection-top .subsection {
  background: #f6f6f6;
  border-color: #dbdbdb;

/**************************************

          Misc

**************************************/
