.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

body {
  background: url('../img/bg.png') repeat;
  color: #777;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.33;
}

h1, h2, h3, h4, h5, h6, p {
  text-shadow: 0 1px 0 rgba(255,255,255,0.33);
}

h2 {
  border-bottom: 1px solid #999;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  color: #444;
  margin-top: 60px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

h3 {
  clear: both;
  color: #444;
  font-family: Rokkitt, serif;
  font-size: 36px;
  padding-top: 40px;
  margin-bottom: 10px;
}

.main p.sub {
  color: #777;
}

#nav {
  background: #ebe6dc;
  border: 1px solid #c1bdb4;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.25);
  position: fixed;
  width: 200px;
}

#nav li {
  border-bottom: 1px solid #ccc;
}

#nav a {
  color: inherit;
  display: block;
  padding: 15px 10px;
  text-decoration: none;
}

#nav a:hover {
  background: #e5ddcd;
  color: #444;
}

.main {
  /*float: right;*/
  margin-left: 300px;
  width: 600px;
}

.section .heading-sub {
  color: #777;
  font-weight: bold;
  padding: 0;
}

.section > p {
  clear: both;
  padding-top: 40px;
}

.color-swatch {
  margin-top: 40px;
  /*width: 472px;*/
}

/* :( couldn't use :nth-child() */
.color-swatch.left {
  margin-right: 80px;
}

.color-swatch .description, .color-swatch .container {
  float: left;
}

.color-swatch .description {
  margin-left: 20px;
  width: 480px;
}

.color-swatch .container {
  background: #fff;
  border: 1px solid #998d78;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.33);
  padding: 10px;
  width: 75px;
}

.color-swatch .container.inverted {
  background: #444;
  border: 1px solid #393327;
}

.color {
  border-radius: 3px;
  height: 75px;
  margin-bottom: 10px;
  width: 75px;
}

.color.blue {
  background: #51b2ca;
}

.color.red {
  background: #eb1b0d;
}

.color.maroon {
  background: #b75a5a;
}

.color.bg-brown {
  background: #d3cfc6;
}

.color.nameplate-brown {
  background: #ebe6dc;
}

.color.black {
  background: #444;
}

.color.white {
  background: #f9f9f9;
}

.color.default-text-gray {
  background: #777777;
}

p.blue {
  background: none;
  color: #51b2ca;
}

p.red {
  background: none;
  color: #eb1b0d;
}

p.maroon {
  background: none;
  color: #b75a5a;
}

p.bg-brown {
  background: none;
  color: #d3cfc6;
}

p.nameplate-brown {
  background: none;
  color: #d3cfc6;
}

p.black {
  background: none;
  color: #444;
}

p.white {
  background: none;
  color: #f9f9f9;
}

p.default-text-gray {
  background: none;
  color: #777777;
}

.color-swatch .container p {
  font-family: Oswald, sans-serif;
  font-size: 20px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}

.color-swatch .description {
  padding-top: 13px;
  line-height: 1.25;
}

.color-swatch .description p {
  color: #444;
}

.color-swatch .description p.sub {
  margin-top: 10px;
}

.color-swatch .description p em {
  color: #777;
  font-style: italic;
}

.font-example {
  padding-top: 40px;
}

.font-example h4 {
  color: #444;
  font-size: 72px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.33);
}

.font-example.rokkitt h4 {
  font-family: Rokkitt, serif;
}

.font-example.open-sans h4 {
  font-family: "Open Sans", serif;
  padding-bottom: 20px;
}

.font-example.oswald h4 {
  font-family: Oswald, sans-serif;
  padding-bottom: 10px;
}

.font-example > p {
  color: #444;
  margin-bottom: 10px;
}

.thumbnail-container {
  padding-top: 20px;
}

.thumbnail-container a {
  border: 0;
  display: block;
  float: left;
  margin-right: 30px;
  text-decoration: none;
}

.thumbnail-container a:last-child {
  margin-right: 0;
}
